apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  selector: {{ include "common.labels" . | nindent 4 }}
  ports:
    - port: {{ .Values.ports.port }}
      targetPort: {{ .Values.ports.targetPort }}
